//-var pageClass = "works-page"
extends ../works
block title
    | Мои работы
block content
    section.works
        .base-title.base-title_l
            +icon('works_header','base-title__bg-text')
            h1.base-title__text Мои работы
        section.slider
            .slider__left
                .slider__display
                    img(src='./assets/img/content/works/source/work_img_1.png',alt='work').slider__display-img
                .slider__info
                    - for (var i=1; i<=4; i++) {
                    .slider__info-item(class=((i == 1) ? 'active' : ''), data-project='project_'+i, data-img='./assets/img/content/works/source/work_img_'+ i +'.png')
                        .slider__info-title.base-title
                            .base-title__text= "Сайт школы онлайн образования " + i
                        .slider__info-skills html, css, javascript
                        .slider__info-btn
                            a(href="#").btn.btn_primary
                                +icon('link','link__icon')
                                | Посмотреть сайт
                    - }
            .slider__right
                .slider__controls
                    .slider__controls-item(data-direction="prev")
                        .slider__thumbs
                            - for (var i=1; i<=4; i++) {
                            .slider__thumbs-item(data-project='project_'+i)
                                img(src='./assets/img/content/works/thumb/work_img_'+ i +'.png',alt='work').slider__thumbs-img
                            - }
                        .slider__controls-btn.slider__controls-btn_prev
                            +icon('arrow_down','slider__controls-arr')
                    .slider__controls-item(data-direction="next")
                        .slider__thumbs
                        //.slider__thumbs
                            - for (var i=1; i<=4; i++) {
                            .slider__thumbs-item(class=((i == 2) ? 'active' : ''), data-project='project_'+i)
                                img(src='./assets/img/content/works/thumb/work_img_'+ i +'.png',alt='').slider__thumbs-img
                            - }
                        .slider__controls-btn.slider__controls-btn_next
                            +icon('arrow_down','slider__controls-arr')
    section.reviews-section.section-blur
        .base-title.base-title_l
            +icon('about_header','base-title__bg-text')
            .base-title__text Что обо мне говорят
        .reviews
            ul.reviews__list
                each object, name in reviews
                    li.reviews__item
                        .reviews__quote
                            +icon('quote','quote__icon')
                        .reviews__text
                            |Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .reviews__person
                            .reviews__person-ava
                                img(src=object['ava'], alt=object['title']).reviews__img
                            .reviews__person-info
                                .reviews__person-name= object['title']
                                .reviews__person-occupation= object['occupation']
        .feedback
            form(action='',method='post',name='feedback').feedback__form.ajax-form
                .panel.panel_theme_blur
                    .panel-blur
                    .panel__content
                        .panel__title
                            .base-title
                                .base-title__text Связаться со мной
                        .panel__fields
                            input(type='text',name='name',placeholder='Имя',required).base-inp
                            input(type='email',name='email',placeholder='Email',required).base-inp
                            textarea(name='login',placeholder='Ваше сообщение',required).base-textarea
                    .panel__actions
                        ul.panel__actions-list
                            li.panel__actions-item
                                button(type='submit').panel__actions-link Отправить
                            li.panel__actions-item
                                button(type='reset').panel__actions-link Очистить
                .page-move.page-move__go-up
                    a(href="#").page-move__link#go_up
                        +icon('arrow_down','page-move__icon')